{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid landing">
    <div class="row txt">
        <div class="col-lg-6 col-md-12 col-sm-12 note">
            <h1>We are your Healthcare <br> Wellness Partner.</h1>
            <button type="button" class="btn mt-5 text-white text-center"
                style="background-color:rgb(21, 158, 222) !important;">
                <h3>Visit Us Today</h3>
            </button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 "></div>
    </div>
</div>
<div class="container-fluid about">
    <div class="row aboutrow">
        <div class="col-lg-6 col-md-6 col-sm-12 abt text-center pt-3 pb-2">
            <p>Every community, every neighbourhood,<br> every life-whole and healthy. This is our <br> commitment to
                you.</p>
            <br>
            <p>Opened in 2000, E-Health is a fully fledged <br>hospital with excellence in medical<br> expertise and
                services provision. We boast <br> of our vast technological advancements <br>with key innovation in
                cancer treatment <br>and pediatric care.</p>
            <br>
            <p>We take pride in our highly qualified <br> professionals who deliver our mission every <br> day,
                translating their knowledge and <br> expertise to intentionally compliant <br> practices in healthcare
                provison.</p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 pt-3 pb-2">
            <div class="row text-center">
                <h2 style="color:rgba(0,0,255,1)">Core Values</h2>
            </div>
            <div class="row pt-5 icons mt-5">
                <div class="col pt-5 pb-5">
                    <img src="/static/images/empathy.png" class="img-thumbnail" alt="...">
                    <h4 class="pt-5">Empathy</h4>
                </div>
                <div class="col pt-5 pb-5">
                    <img src="/static/images/tech.jpg" class="img-thumbnail" alt="...">
                    <h4 class="pt-5">Innovative</h4>
                </div>
            </div>
            <div class="row pt-5 icons mt-5">
                <div class="col pt-5 pb-5">
                    <img src="/static/images/experience.jpg" class="img-thumbnail" alt="...">
                    <h4 class="pt-5">Experienced <br>Professionals</h4>
                </div>
                <div class="col pt-5 pb-5">
                    <img src="/static/images/health.png" class="img-thumbnail" alt="...">
                    <h4 class="pt-5">Health and<br>Wellness</h4>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}