{%extends '../base.html'%}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}


<style>

    .reg-box{
        border:3px solid rgba(0,0,255,1);
    }

    .jumbotron{
        background: none;
    }
    .btnSubmit{
        background:#3bbebe;
        color: #fff;
    }
</style>
<div class="container-fluid landing">
    <div class="row txt">


        <div class="jumbotron" style="margin-bottom:0px;">
            <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
            <p class="lead">Welcome to Hospital Management System.</p>
            
            <p>You can access various features after Login/SignUp.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
                <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
              </p>
          </div>
     
     
</div>

{% endblock %}