{%extends '../base.html'%}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}


<style>

    .reg-box{
        border:3px solid rgba(0,0,255,1);
    }

    .reg-box{
        background: none;
    }
    .btnSubmit{
        background:#3bbebe;
        color: #fff;
    }
</style>
<div class="container-fluid landing">
    <div class="row txt">
        <!-- <div class="col-lg-6 col-md-12 col-sm-12 note">
            <h1>We are your Healthcare <br> Wellness Partner.</h1>
            <button type="button" class="btn mt-5 text-white text-center"
                style="background-color:rgb(21, 158, 222) !important;">
                <h3>Visit Us Today</h3>
            </button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 "></div> -->

        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-5">
            <!-- Register view -->
            <div class="card text-white reg-box mb-3">
                <div class="card-header" style="background-color:rgba(0,0,255,1);"><h4>Register</h4></div>
                <div class="card-body">
                  
                    
                </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}