{% extends 'patient/patient_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}


<style>

.me{
    margin-top:20%;
  }


    .reg-box{
        border:3px solid rgba(0,0,255,1);
    }

    .reg-box{
        background: none;
    }
    .btnSubmit{
        background:#3bbebe;
        color: #fff;
    }
</style>
<div class="container-fluid landing">
    <div class="row txt">
        <form method="post">
            {% csrf_token %}
            <div class="container register-form">
              <div class="form">
                <div class="note">
                  <p>Book Appointment Details</p>
                </div>
                <div class="form-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        {% render_field appointmentForm.description class="form-control" placeholder="Description" %}
                      </div>
                      <div class="form-group">
                        {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
                      </div>
                      
          
          
          
                    </div>
          
                  </div>
                  <button type="submit" class="btnSubmit">Book</button>
                </div>
              </div>
            </div>
          </form>
        
    </div>
</div>

{% endblock %}