{% extends 'patient/patient_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}


<style>

.me{
    margin-top:20%;
  }


    .reg-box{
        border:3px solid rgba(0,0,255,1);
    }

    .reg-box{
        background: none;
    }
    .btnSubmit{
        background:#3bbebe;
        color: #fff;
    }
</style>
<div class="container-fluid landing">
    <div class="row txt">
     
        <div class="container">
            {%if is_discharged%}
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <h1>Hospital Management</h1>
            </td>

            <td>

              Admit Date: {{admitDate}}<br>
              Release Date: {{releaseDate}}<br>
              Days Spent: {{daySpent}}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Patient Name : {{patientName}}<br>
              Patient Mobile : {{mobile}}<br>
              Patient Addres : {{address}}<br>
            </td>

            <td>
              Doctor Name :<br>
              {{assignedDoctorName}}<br>

            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Disease and Symptoms
      </td>
      <td>

      </td>

    </tr>

    <tr class="details">
      <td>
        {{symptoms}}
      </td>
    </tr>
    <tr class="heading">
      <td>
        Item
      </td>

      <td>
        Price
      </td>
    </tr>

    <tr class="item">
      <td>
        Room Charge of {{daySpent}} Days
      </td>

      <td>
        {{roomCharge}}
      </td>
    </tr>

    <tr class="item">
      <td>
        Doctor Fee
      </td>

      <td>
        {{doctorFee}}
      </td>
    </tr>

    <tr class="item">
      <td>
        Medicine Cost
      </td>

      <td>
        {{medicineCost}}
      </td>
    </tr>

    <tr class="item last">
      <td>
        Other Charge
      </td>

      <td>
        {{OtherCharge}}
      </td>
    </tr>

    <tr class="total">
      <td></td>

      <td>
        Total Rupees : {{total}}
      </td>
    </tr>

  </table>
</div>
<br><br>
<div class="download">
  <a style="background:red; width:500px;" href="{% url 'download-pdf' patientId  %}">Download</a>
</div>



{%else%}
<br><br>
<h5 style="text-align:center;">Hello there </h5>
<h5 style="text-align:center;">You have not yet been discharged by the hospital !</h5>
<h5 style="text-align:center;">Bill to be processed upon discharge</h5>
{%endif%}
        </div>
    </div>
</div>

{% endblock %}