{% extends 'patient/patient_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}


<style>
 .me{
    margin-top:20%;
  }

    .reg-box{
        border:3px solid rgba(0,0,255,1);
    }

    .reg-box{
        background: none;
    }
    .btnSubmit{
        background:#3bbebe;
        color: #fff;
    }
</style>
<div class="container-fluid landing">
    <div class="row txt">

        
        
        <div class="container">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h6 class="panel-title">Your Appointments</h6>
              </div>
              <table class="table table-hover" id="dev-table">
                <thead>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                {% for a in appointments %}
                <tr>
                  <td> {{a.doctorName}}</td>
                  <td>{{a.description}}</td>
                  <td>{{a.appointmentDate}}</td>
                  {%if a.status%}
                  <td> <span class="label label-primary">Confirmed</span></td>
                  {% else %}
                  <td> <span class="label label-success">Pending</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
     
    </div>
</div>

{% endblock %}